.Button {

  text-transform: uppercase;
  text-align: center;
  font-size: 22px;
  display: inline-block;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  background-color: transparent;
  padding: 5px 20px;
  border: 1px solid #c16a1f;
  margin: 4px;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;

}

.Button:hover {

  background-color: #c16a1f;
}
